DirectoryIndex index.html.gz index.html

RewriteEngine on
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule .+ %{REQUEST_URI}.gz

<FilesMatch "\.html\.gz$">
	ForceType text/html
	AddEncoding x-gzip .gz
</FilesMatch>
